.hiddenElement {
    display: none;
}

.revealedElement {
    display: block;
    animation: .5s slidein-left;
}

@keyframes slidein-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

body {
    padding: 0 20vw;
    margin: 40px 0px;
}

.newSection {
    margin: 60px 0px 20px 0px;
}

.header {
    text-align: center;
}

.btn {
    margin: 7px 0px;
}

video {
    display: block;
    margin: 0 auto;
}

.selectButton {
    margin-left: 10px;
}
